<div class="controller">
    <div class="body-bar">
        <ul>
            <li><a href="https://youtube.com/playlist?list=PL82C6-O4XrHdf0LMDVl1Y-4_BFbNmdrGc&si=rNe0PRB1v8a0WOUu" target="_blank">Angular T</a></li>
            <li><a href="https://www.amazon.com.br/s?k=angular&__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=IGZISLZ9WN5L&sprefix=angula%2Caps%2C204&ref=nb_sb_noss_1" target="_blank">Books</a></li>
            <li><a href="https://angular.io/docs" target="_blank">About Angular</a></li>
            <li><a href="https://angular.io/cli" target="_blank">Cli</a></li>
            <li><a href="https://github.com/AngularTemplates/learn-angular-from-scratch-step-by-step" target="_blank">Github</a></li>
        </ul>    
    </div>
</div>